<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Theme Template for Bootstrap</title>


    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="test.html">ONOFF시위광장</a>
        </div>
        

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="agora.html">광장</a></li>
            <li><a href="mapagora.html">시위지도</a></li>
            
          </ul>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>

            <button type="submit" class="btn btn-default">검색</button>
          </form>
        </div><!--/.nav-collapse -->



      </div>
    </nav>

       <div class="container theme-showcase" role="main" >

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron" style="margin: 50px 50px 15px 0px; padding: 30px;">
              <p> </p>
              <h1>신고서 작성</h1>
              <p>
                   <form >
                    <div class="row">
                      <div class="col-xs-6 col-md-3">
                        <img src="1step.jpg">
                     </div>
                   </div>
                                       

                        <div class="form-group">
                          <label for="exampleInputEmail1">신고인 성명</label>
                          <input type="text" class="form-control" id="Name" placeholder="홍길동" name="name">
                        </div>

                        <link rel="stylesheet" href="//cdn.rawgit.com/xdan/datetimepicker/master/jquery.datetimepicker.css">

                        <div class="form-group">
                          <label for="exampleInputPassword1">신고인 생년월일</label>
                          <input type="text" class='datetimepicker' id="birthday" placeholder="신고인 생년월일" name="birthday">
                        </div>

                         <div class="form-group">
                          <label for="exampleInputPassword1">신고인 전화번호</label>
                          <input type="text" class="form-control" id="hpNumber" placeholder="010-0000-0000" name="hpNumber">
                        </div>

                         <div class="form-group">
                          <label for="exampleInputPassword1">신고인 주소</label>
                          <input type="text" class="form-control" id="address" placeholder="서울시 용산구 " name="address">
                        </div>

                        <div class="jombotron" style="text-align:center">
                                  <a href="python testdb2.py">
                                <button type="button" class="btn btn-primary btn-lg">NEXT</button>
                                </a>
                      
                        </div>

                
                </p>
            </div>
            <div class="jombotron" style="text-align:center">
              <a href="./start2">
            <button type="button" class="btn btn-primary btn-lg">NEXT</button>
            </a>
          
            </div>
            
          </div>
    






    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../../dist/holder/holder.js"></script>




     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="//cdn.rawgit.com/xdan/datetimepicker/master/jquery.datetimepicker.js"></script>
        <script>
        $(function(){
          $('.datetimepicker').datetimepicker({
              lang:'ko',
              format:'Y-m-d H:i',
                 dateOnly:true
          });
        });
        </script>


  </body>
</html>
